<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	   default-lazy-init="true" default-autowire="byName">
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- 启用注解 -->
	<context:annotation-config />
	<context:component-scan base-package="com.simple">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 引入配置文件 -->
	<bean id="propertyManager" lazy-init="false"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>config/config.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>


	<!-- Hikari Datasource -->
	<bean id="parentDataSource" class="com.zaxxer.hikari.HikariDataSource"  destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />  <!-- 无需指定，除非系统无法自动识别 -->
		<!-- 连接只读数据库时配置为true， 保证安全 -->
		<property name="readOnly" value="false" />
		<!-- 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 缺省:30秒 -->
		<property name="connectionTimeout" value="30000" />
		<!-- recommend setting this to between 250-500 -->
		<!-- 一个连接idle状态的最大时长（毫秒），超时则被释放（retired），缺省:10分钟 -->
		<property name="idleTimeout" value="30000" />
		<!-- 一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒，参考MySQL wait_timeout参数（show variables like '%timeout%';） -->
		<property name="maxLifetime" value="1800000" />
		<!-- 连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count) -->
		<property name="maximumPoolSize" value="100" />
		<property name="minimumIdle" value="10" />
		<!--  https://github.com/brettwooldridge/HikariCP/wiki/MySQL-Configuration -->
		<property name="dataSourceProperties">
			<props>
				<prop key="prepStmtCacheSize">250</prop>
				<prop key="prepStmtCacheSqlLimit">2048</prop>
				<prop key="cachePrepStmts">true</prop>
				<prop key="useServerPrepStmts">true</prop>
			</props>
		</property>
	</bean>
	<!-- 多个数据源可配置多个,注意bean id不要相同 -->
	<import resource="spring-db-store.xml"></import>
</beans>